@model BethanysPieShopAdmin.ViewModels.PieAddViewModel

<form method="post" asp-controller="Pie" asp-action="Add">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Pie.Name" class="form-label"></label>
        <input asp-for="Pie.Name" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="Pie.ShortDescription" class="form-label"></label>
        <textarea asp-for="Pie.ShortDescription" class="form-control" rows="5" cols="50" style="resize: none;"></textarea>
    </div>
    <div class="mb-3">
        <label asp-for="Pie.LongDescription" class="form-label"></label>
        <textarea asp-for="Pie.LongDescription" class="form-control" rows="5" cols="50" style="resize: none;"></textarea>
    </div>
    <div class="mb-3">
        <label asp-for="Pie.AllergyInformation" class="form-label"></label>
        <textarea asp-for="Pie.AllergyInformation" class="form-control" rows="5" cols="50" style="resize: none;"></textarea>
    </div>
    <div class="mb-3">
        <label asp-for="Pie.Price" class="form-label"></label>
        <input asp-for="Pie.Price" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="Pie.ImageThumbnailUrl" class="form-label"></label>
        <input asp-for="Pie.ImageThumbnailUrl" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="Pie.ImageUrl" class="form-label"></label>
        <input asp-for="Pie.ImageUrl" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="Pie.IsPieOfTheWeek" class="form-label"></label>
        <input asp-for="Pie.IsPieOfTheWeek"/>
    </div>
    <div class="mb-3">
        <label asp-for="Pie.InStock" class="form-label"></label>
        <input asp-for="Pie.InStock"/>
    </div>
    <div class="mb-3">
        <label asp-for="Categories" class="form-label"></label>
        <select asp-for="Pie.CategoryId" asp-items="Model.Categories"></select>
    </div>

    <input type="submit" value="Add pie" class="btn btn-primary"/>


</form>